<div>
  <div>
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
  </div>
  <div>
    <p><%= @user.email %></p>
  </div>
  <div>
    <p><%= @user.description %></p>
  </div>
</div>










<%= link_to "Keep walking", gardens_path%>
