<div>

    <div>
      <h1><%= current_user.first_name %> <%= current_user.last_name %> </h>
    </div>
  <div>
    <p><%= current_user.email %></p>
  </div>
  <div>

     <%= current_user.photo unless current_user.photo.nil? %>
    <%= link_to "Edit profile", edit_user_path(current_user) %>
  </div>
  <div class='card-container'>
    <% current_user.gardens.each do |garden| %>
      <% if garden.user_id == current_user.id %>
        <div class="card-profile">
        <div class="card-profile-infos">
          <img src="/ass">
          <h2><%= garden.name %></h2>
          <p> <%= truncate(garden.description, length: 100) %></p>
          <a href="#" class="btn btn-primary">check it out!</a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

 <div class='container'>
  <h1>Booked Gardens</h1>
  <% current_user.bookings.each do |booking| %>
    <% unless garden.user_id == current_user.id %>
      <div class="card-profile">
        <div class="card-profile-infos">
          <img src="#">
          <h2><%= booking.garden.name %></h2>
          <a href="#" class="btn btn-primary">check it out!</a>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

  <%= link_to "edit profile", edit_user_path%>
  <%= link_to "Search", gardens_path%>
  <%= link_to "Post a green space", new_garden_path%>
  </div>
