<div class='container'>
  <div class='opener'>
    <div>
      <%= cl_image_tag @user.photo, class: "avatar-large", alt: "your profile picture" %>
    </div>
    <div>
      <h1><%= @user.first_name %> <%= @user.last_name %></h>
    </div>
    <div>
      <p><%= @user.email %></p>
      <p><%= @user.description %></p>
    </div>
    <div>
      <%= link_to "Edit profile", edit_user_registration_path(@user), class: 'btn btn-success' %>
    </div>
  </div>

  <hr>

  <h2>My Gardens</h2>
  <div class='card-container'>
    <% @gardens.each do |garden| %>
      <% if garden.user_id == @user.id %>
        <div class="card-profile">
          <div class="card-profile-infos">
            <%= cl_image_tag garden.photo %>
            <h2> <%= garden.name %> </h2>
            <p> <%= truncate(garden.description, length: 100) %></p>
            <%= link_to "check it out!", garden_path(garden), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>

  <h2 class='booking-heading'>Booked Gardens</h2>

  <div class='card-container'>

    <% @user.gardens.each do |garden| %>
      <% unless garden.user_id == @user.id %>
        <% booking = garden.bookings.find_by(user_id: @user) %>
        <div class="card-profile">
          <div class="card-profile-infos">
            <%= cl_image_tag garden.photo %>
            <h2><%= garden.name %></h2>
            <%= link_to "Review", garden_path(garden), class: "btn btn-primary" %>
            <%= link_to "Cancel", booking_path(booking), method: :delete, class: "btn btn-secondary" %>
            <% if booking.approved == false %>
              <p id="Booking-Status"> Pending </p>
            <% else %>
              <p id="Booking-Status"> Confirmed </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <p class="text-center">
    <%= link_to "Book a Garden", gardens_path, class: 'btn btn-primary'%>
  </p>

</div>
