<div>
  <div>
    <h1><%= current_user.first_name %> <%= current_user.last_name %> </h1>
  </div>
  <div>
    <p><%= current_user.email %></p>
  </div>
  <div>
     <%= cl_image_tag current_user.photo, width: 100 unless current_user.photo.nil? %>
    <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
</div>

<h3>My Gardens</h3>

<% current_user.gardens.each do |garden| %>
  <% if garden.user_id == current_user.id %>
    <p> <%= garden.name %> </p>
    <p> <%= garden.description %> </p>
    <p> <%= garden.capacity %> </p>
    <p> <%= garden.location %> </p>
    <p> <%= garden.size %> </p>
    <p> <%= garden.category %> </p>
  <% end %>
<% end %>

<h3>Booked Gardens</h3>

<% current_user.gardens.each do |garden| %>
  <% unless garden.user_id == current_user.id %>
    <p> <%= garden.name %> </p>
    <p> <%= garden.photo %> </p>
    <p> <%= garden.description %> </p>
  <% end %>
<% end %>


<%= link_to "Search", gardens_path%>
<%= link_to "Post a green space", new_garden_path%>
