<div>
  <div>
    <h1><%= current_user.first_name %> <%= current_user.last_name %> </h1>
  </div>
  <div>
    <p><%= current_user.email %></p>
  </div>
  <div>
    <p><%= current_user.description %></p>
  </div>
</div>

<% current_user.gardens.each do |garden| %>
  <p> <%= garden.name %> </p>
  <p> <%= garden.description %> </p>
  <p> <%= garden.capacity %> </p>
  <p> <%= garden.location %> </p>
  <p> <%= garden.size %> </p>
  <p> <%= garden.category %> </p>
<% end %>

<h1>BREAK</h1>

<% current_user.bookings.each do |booking| %>
  <p> <%= booking.garden.name %> </p>
  <p> <%= booking.garden.photo %> </p>
  <p> <%= booking.garden.description %> </p>
  <p> <%= booking.approved %> </p>
<% end %>


<%= link_to "Keep walking", gardens_path%>
<%= link_to "Post a green space", new_garden_path%>
