<div class='container'>
  <div class='opener'>
    <div>
      <%= cl_image_tag current_user.photo, class: "avatar-large", alt: "your profile picture" %>
    </div>
    <div>
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h>
    </div>
    <div>
      <p><%= current_user.email %></p>
      <p><%= current_user.description %></p>
    </div>
    <div>
      <%= link_to "Edit profile", edit_user_registration_path(current_user), class: 'btn btn-success' %>
    </div>
  </div>

  <hr>

  <h2>My Gardens</h2>
  <div class='card-container'>
    <% @gardens.each do |garden| %>
      <% if garden.user_id == current_user.id %>
        <div class="card-profile">
          <div class="card-profile-infos">
            <%= cl_image_tag garden.photo %>
            <h2> <%= garden.name %> </h2>
            <p> <%= truncate(garden.description, length: 100) %></p>
            <%= link_to "check it out!", garden_path(garden), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>

  <h2 class='booking-heading'>Booked Gardens</h2>

  <div class='card-container'>
    <% current_user.gardens.each do |garden| %>
      <% unless garden.user_id == current_user.id %>
        <div class="card-profile">
          <div class="card-profile-infos">
            <%= cl_image_tag garden.photo %>
            <h2><%= garden.name %></h2>
            <%= link_to "Review", garden_path(garden), class: "btn btn-primary" %>
            <%= link_to "Cancel", booking_path(garden.bookings.find_by(user_id: current_user)), method: :delete, class: "btn btn-secondary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
 <%= link_to "Book a Garden", gardens_path, class: 'btn btn-primary'%>

</div>
