<div class="index-container">

<div class="search-bar col-md-8 keyword">
    <%= form_tag gardens_path, method: :get, class: "keyword-search" do %>
    <%= text_field_tag :city,
      params[:city],
      class: "keyword-box",
      placeholder: "City"
    %>
    <%= text_field_tag :query,
      params[:query],
      class: "keyword-box narrow-keyword",
      placeholder: "Search by keyword"
    %>
    <%= submit_tag("Search", :id=>"button", :class=>"btn btn-warning", :name=>"search") %>
  <% end %>
</div>
  <div class="row">
    <div class="col-sm-12 col-md-7 garden-cards">
      <% @gardens.each do |garden| %>
        <%= link_to(garden_path(garden.id), class: "index-card") do %>
          <div class="card" style="width: 18rem;">
            <%= cl_image_tag garden.photo, class: "card-img-top", crop: :fill unless garden.photo.blank? %>
            <div class="card-body">
              <h5><strong><%= garden.name %></strong></h5>
              <p>Type of land available: <%= garden.category %></p>
              <p>Size: <%= garden.size %></p>
            </div>
          </div>
        <% end %>
        <br>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-5">
      <div
        id="map"
        class="map-index"
        style="width: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>


