<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @garden.photo, crop: :fill unless @garden.photo.blank? %>');">

  <h1><%= @garden.name %> </h1>
  <br>
  <p> Current Participants: <%= Booking.where(garden_id: @garden.id).count %>
    of <%= @garden.capacity %>
  <br>
  </p>
  <%= link_to "Participate!", garden_bookings_path(@garden), method: :post, class: "btn btn-primary", id: "participate-btn"%>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1><%= @garden.name %> </h1>
      <p><%= @garden.location %></p>
      <div class="show-description">
        <p><%= @garden.description %></p>
      </div>
      <div>
        <p><%= @garden.capacity %></p>
      </div>
      <div>
        <p><%= @garden.size %></p>
      </div>
      <div>
        <p><%= @garden.category %></p>
      </div>

      <% if current_user == @garden.user %>
        <%= link_to "update garden", edit_garden_path, class: "btn btn-primary" %>
        <%= link_to "remove garden", garden_path, method: :delete, class: "btn btn-danger" %>
      <% end %>

      <%= link_to "Search for other spaces", gardens_path%>
    </div>

    <div class="col-sm-12 col-md-4">

       <%= link_to "Request to Participate", garden_bookings_path(@garden), method: :post, class: "btn btn-primary", id: "participate-btn"%>
    </div>



  </div>
</div>




