<div>
  <div>
    <h1><%= @garden.name %> </h1>
  </div>
  <div>
    <p><%= @garden.description %></p>
  </div>
  <div>
    <p><%= @garden.capacity %></p>
  </div>
  <div>
    <p><%= @garden.size %></p>
  </div>
  <div>
    <p><%= @garden.type %></p>
  </div>
</div>




<%= link_to "Kepp walking", gardens_path%>




