<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @garden.photo, crop: :fill unless @garden.photo.blank? %>');">
  <h1><%= @garden.name %> </h1>
</div>

<div>
  <div>
    <p><%= @garden.description %></p>
  </div>
  <div>
    <p><%= @garden.capacity %></p>
  </div>
  <div>
    <p><%= @garden.size %></p>
  </div>
  <div>
    <p><%= @garden.category %></p>
  </div>
  <div>
    <%#= cl_image_tag("abandoned_house_graffiti_urbex_pirou_rurex_plant_ruins-794707_ar4pcs.jpg"), width: 400, height: 300, crop: :fill)%>
  </div>

  <div>
    <p>Map will go here</p>
  </div>

</div>

<% if current_user == @garden.user %>
  <%= link_to "update garden", edit_garden_path, class: "btn btn-primary" %>
<% end %>

<%= link_to "Search for other spaces", gardens_path%>




