<div>
  <div>
    <h1><%= @garden.name %> </h1>
  </div>
  <div>
    <p><%= @garden.description %></p>
  </div>
  <div>
    <p><%= @garden.capacity %></p>
  </div>
  <div>
    <p><%= @garden.size %></p>
  </div>
  <div>
    <p><%= @garden.category %></p>
  </div>
  <div>
    <%#= cl_image_tag("abandoned_house_graffiti_urbex_pirou_rurex_plant_ruins-794707_ar4pcs.jpg"), width: 400, height: 300, crop: :fill)%>
  </div>
</div>




<%= link_to "Keep walking", gardens_path%>




